name: generator

on:
  push:
    branches: [master]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    steps:
      - uses: actions/checkout@v4.1.2
      - name: Update archive
        uses: linuxsuren/yaml-readme@v0.0.16
        env:
          GH_TOKEN: ${{ secrets.GH_SECRETS }}
        with:
          pattern: 'archives/*.yaml'
          template: 'archives.tpl'
          output: 'archives.md'
          username: linuxsuren
          org: opensource-f2f
          repo: episode
          push: false
      - name: Update readme
        uses: linuxsuren/yaml-readme@v0.0.16
        env:
          GH_TOKEN: ${{ secrets.GH_SECRETS }}
        with:
          pattern: 'shownotes/*.md'
          username: linuxsuren
          org: opensource-f2f
          repo: episode
