name: Events Record

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  Record:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4.1.2
      - name: orbit
        uses: linuxsuren/orbit-assistant@master
        env:
          ORBIT_TOKEN: ${{ secrets.ORBIT_TOKEN }}
